<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <b>Angular: Multi Step Reactive Form</b>
    </div>
    <form class="form" [formGroup]="form">
      <div class="card-body">
        <app-account-details *ngIf="currentStep === 0" [accountDetails]="currentGroup"> </app-account-details>
        <app-time-details *ngIf="currentStep === 1" [timeDetails]="currentGroup"> </app-time-details>
        <app-avtar-details *ngIf="currentStep === 2" [avtarDetails]="currentGroup"> </app-avtar-details>
      </div>
      <div class="card-footer">
        <div class="d-flex">
          <span class="page">Step {{ currentStep + 1 }} of {{steps.length}}</span>
          <div>
            <button class="btn btn-sm btn-primary mx-2" *ngIf="currentStep !== 0" (click)="prev()">Previous</button>
            <button class="btn btn-sm btn-primary mx-2" (click)="next()"
              *ngIf="currentStep !== (steps.length - 1)">Next</button>
            <button class="btn btn-sm btn-success" (click)="submit()"
              *ngIf="currentStep === (steps.length - 1)">Submit</button>
          </div>
        </div>
        <div class="mt-4">
          <code> Form Status:  {{form.valid}}</code>
        </div>
      </div>
    </form>
  </div>
</div>